{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <h1>Home page</h1>
    <br/>
    <div>
        <span>Logged as username:"{{ app.user.username }}". Your role is: {{ app.user.roles|join(', ') }}</span>
    </div>
    <br/>
    <h3>You can chat with these Users</h3>
    <hr>
    <table id="tchatUsersAvailable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role(s)</th>
                <th>Tchat</th>
                <th>History</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <a href="#" class="openLiveTchat" data-to="{{ user.id }}" data-username="{{ user.username }}">Tchat now</a>
                </td>
                <td><a href="{{ path('tchat_history', {'fromUserId': app.user.id, 'toUserId': user.id}) }}">See history</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <h3>Live Tchat</h3>
    <ul id="tchatTabs" class="nav nav-tabs hide">
    </ul>
    
    <div id="tchatDisplay">
        <h5 id="no-open-tchat-helper">no opened tchat..</h5>
    </div>
    <hr>
    <div>
        <span>Send a message:
            <input type="text" id="tchatMsgInput" data-to="" disabled/>
            <button type="submit" id="tchatMsgSend">Send</button>
        </span>
    </div>
    <div>
        <a href="{{ path('logout') }}">Logout</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tchatUsersAvailable').DataTable();

            var conn = new WebSocket('ws://localhost:8080');
            conn.onopen = function(e) {
                console.log(e);
                console.log("Connection established!");

                $('#tchatMsgSend').on('click', sendBtnEventListener);
                $('#tchatMsgInput').on('keypress', function(e) {
                    //if Enter pressed 
                    if(e.which == 13) {
                        sendBtnEventListener();
                    }
                });
            
                //register on WS server to get a resourceId
                conn.send(JSON.stringify({
                    "action": "register",
                    "username": "{{ app.user.username }}",
                    "password": "{{ app.user.password }}"
                }));
            };

            conn.onmessage = function(e) {
                console.log("New message !");
                console.log(e);

                let msgData = JSON.parse(e.data);

                $('.openLiveTchat[data-to='+msgData.userFrom+']').trigger('click');

                $('.tchatBox[data-to='+msgData.userFrom+']').append(createMessageView(msgData, true));
            };

            $(document).on('click', '.openLiveTchat', openLiveTchat);

            function openLiveTchat(event){
                $('#no-open-tchat-helper').remove();

                //check is tchat already opened
                if($('a.nav-link[data-to='+$(event.target).attr('data-to')+']').length > 0){
                        $('a.nav-link[data-to='+$(event.target).attr('data-to')+']').trigger('click');
                } else {
                    $('#tchatTabs').find('a.nav-link.active').removeClass('active');
                    let toUserId = $(event.target).attr('data-to');
                    let toUserName = $(event.target).attr('data-username');

                    let $navLink = $(document.createElement('a')).text(toUserName).attr({
                        'data-to': toUserId, 'data-username': toUserName
                    }).addClass('nav-link active');
                    let $newLi = $(document.createElement('li')).addClass('nav-item').append($navLink);

                    $('#tchatTabs').append($newLi);

                    let $newTchatBox = $(document.createElement('div')).addClass('tchatBox').attr('data-to', toUserId).html(createMessageView({
                        "date": formatDate(new Date()),
                        "content": "send a message to "+toUserName+' !'
                    }, true));
                    $('#tchatDisplay').append($newTchatBox);

                    $navLink.trigger('click');
                }
            }

            $(document).on('click', '.nav-link', changeActiveTchat);

            function changeActiveTchat(event){
                $('#tchatTabs').hide();
                $('#tchatTabs').find('a.nav-link.active').removeClass('active');
                $(event.target).addClass('active');
                let toUserId = $(event.target).attr('data-to');

                $('#tchatDisplay').find('.tchatBox').hide();
                $('#tchatDisplay').find('.tchatBox[data-to='+toUserId+']').show();

                $('#tchatMsgInput').attr('data-to', toUserId);
                $('#tchatMsgInput').prop('disabled', false);
                $('#tchatTabs').show();
            }

            function sendBtnEventListener(){

                conn.send(JSON.stringify({
                    "action": "message",
                    "message": $('#tchatMsgInput').val(),
                    "to": $('#tchatMsgInput').attr('data-to')
                }));

                $('.tchatBox[data-to='+$('#tchatMsgInput').attr('data-to')+']').append(createMessageView({
                    "date": formatDate(new Date()),
                    "content": $('#tchatMsgInput').val()
                }, false));

                $('#tchatMsgInput').val('');

            };

            function createMessageView(msgData, isReceived){
                let $msgDiv = $(document.createElement('div')).addClass('message')

                if(isReceived) $msgDiv.css('background-color', 'lightblue');
                else $msgDiv.css('background-color', 'lightgray');

                let $msgBox = $(document.createElement('span')).text(msgData.date+' - '+msgData.content);
                $msgDiv.append($msgBox);

                return $msgDiv;

            }

            //format date utils 
            Number.prototype.padLeft = function(base,chr){
                var  len = (String(base || 10).length - String(this).length)+1;
                return len > 0? new Array(len).join(chr || '0')+this : this;
            }

            function formatDate(d){
                return [(d.getMonth()+1).padLeft(),
               d.getDate().padLeft(),
               d.getFullYear()].join('-') +' ' +
              [d.getHours().padLeft(),
               d.getMinutes().padLeft(),
               d.getSeconds().padLeft()].join(':');
            }
        });        
    </script>
{% endblock %}
